<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Roommater</title>
  </head>
  <body>
    <p>Welcome to Roommater!  Let's get started.</p>
    <form>
  First name: <input type="text" name="firstname"><br>
  Last name: <input type="text" name="lastname"><br>
  Email address (This will be your username): <input type="email" name="email"><br>
  Password: <input type="password" name="password">
</form>
<button type="submit" form="form1" value="Submit">Submit</button>
  </body>
</html>
