<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="questionsStyle.css">
    <meta charset="utf-8">
    <title>Questionnaire</title>
  </head>
  <body>

    <p>Are you more of a morning lark or a night owl?</p>

    <label for="one">1</label>
    <input type="radio" name="selection" id="one" value="1"><br>
    <label for="two">2</label>
    <input type="radio" name="selection" id="two" value="2"><br>
    <label for="three">3</label>
    <input type="radio" name="selection" id="three" value="3"><br>
    <label for="four">4</label>
    <input type="radio" name="selection" id="four" value="4"><br>
    <label for="five">5</label>
    <input type="radio" name="selection" id="five" value="5"><br>

    <textarea></textarea>

    <p>How clean are you? (Please elaborate)</p>

  <label for="one">1</label>
  <input type="radio" name="selection" id="one" value="1"><br>
  <label for="two">2</label>
  <input type="radio" name="selection" id="two" value="2"><br>
  <label for="three">3</label>
  <input type="radio" name="selection" id="three" value="3"><br>
  <label for="four">4</label>
  <input type="radio" name="selection" id="four" value="4"><br>
  <label for="five">5</label>
  <input type="radio" name="selection" id="five" value="5"><br>

  <textarea></textarea>

    <p>Do you smoke (anything)? (If so, please elaborate)</p>

    <label for="Y">Yes</label>
    <input type="radio" name="selection" id="Y" value="Yes"><br>
    <label for="N">No</label>
    <input type="radio" name="selection" id="N" value="No"><br>

    <p>How quiet are you at home? [1-5] (Please elaborate)</p>

  <label for="one">1</label>
  <input type="radio" name="selection" id="one" value="1"><br>
  <label for="two">2</label>
  <input type="radio" name="selection" id="two" value="2"><br>
  <label for="three">3</label>
  <input type="radio" name="selection" id="three" value="3"><br>
  <label for="four">4</label>
  <input type="radio" name="selection" id="four" value="4"><br>
  <label for="five">5</label>
  <input type="radio" name="selection" id="five" value="5"><br>

  <textarea></textarea>

    <p>Are you a homebody or do you like do go out? [1-5] (Please elaborate)</p>

  <label for="one">1</label>
  <input type="radio" name="selection" id="one" value="1"><br>
  <label for="two">2</label>
  <input type="radio" name="selection" id="two" value="2"><br>
  <label for="three">3</label>
  <input type="radio" name="selection" id="three" value="3"><br>
  <label for="four">4</label>
  <input type="radio" name="selection" id="four" value="4"><br>
  <label for="five">5</label>
  <input type="radio" name="selection" id="five" value="5"><br>

  <textarea></textarea>

    <p>Are you a light drinker or a heavy drinker? [1-5] (Please elaborate)</p>

  <label for="one">1</label>
  <input type="radio" name="selection" id="one" value="1"><br>
  <label for="two">2</label>
  <input type="radio" name="selection" id="two" value="2"><br>
  <label for="three">3</label>
  <input type="radio" name="selection" id="three" value="3"><br>
  <label for="four">4</label>
  <input type="radio" name="selection" id="four" value="4"><br>
  <label for="five">5</label>
  <input type="radio" name="selection" id="five" value="5"><br>

  <textarea></textarea>

    <p>Are you more likely to have friends over or keep the party outside of your home?<br>
    (1 - "I never bring the party home.", 5 - "The after party is always at my place!")<br>
    Please elabortate below!</p>

  <label for="one">1</label>
  <input type="radio" name="selection" id="one" value="1"><br>
  <label for="two">2</label>
  <input type="radio" name="selection" id="two" value="2"><br>
  <label for="three">3</label>
  <input type="radio" name="selection" id="three" value="3"><br>
  <label for="four">4</label>
  <input type="radio" name="selection" id="four" value="4"><br>
  <label for="five">5</label>
  <input type="radio" name="selection" id="five" value="5"><br>

  <textarea></textarea>

    <p>Do you have pets? [YES or NO] (If yes, please elaborate)</p>

    <label for="Y">Yes</label>
    <input type="radio" name="selection" id="Y" value="Yes"><br>
    <label for="N">No</label>
    <input type="radio" name="selection" id="N" value="No"><br>

    <textarea></textarea>

  </body>
</html>
