<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Roommater</title>
  </head>
  <body>
    <p>Welcome to Roommater!  Let's get started.</p>
    <form>
  First name: <input type="text" name="firstname"><br>
  Last name: <input type="text" name="lastname"><br>
  Email address (This will be your username): <input type="email" name="email"><br>
  Password: <input type="password" name="password">
</form>



<p>How clean are you?<br>
  (1: I live in my own filth, 5: I'm Mr. (or Mrs.) Clean</p>

<label for="one">1</label>
<input type="radio" name="selection" id="one" value="1"><br>
<label for="two">2</label>
<input type="radio" name="selection" id="two" value="2"><br>
<label for="three">3</label>
<input type="radio" name="selection" id="three" value="3"><br>
<label for="four">4</label>
<input type="radio" name="selection" id="four" value="4"><br>
<label for="five">5</label>
<input type="radio" name="selection" id="five" value="5"><br>


<p>How quiet are you at home?<br>
  (1: Quiet as a mouse, 5: I bump my music)</p>

<label for="one">1</label>
<input type="radio" name="selection" id="one" value="1"><br>
<label for="two">2</label>
<input type="radio" name="selection" id="two" value="2"><br>
<label for="three">3</label>
<input type="radio" name="selection" id="three" value="3"><br>
<label for="four">4</label>
<input type="radio" name="selection" id="four" value="4"><br>
<label for="five">5</label>
<input type="radio" name="selection" id="five" value="5"><br>

<p>Are you a homebody or do you like do go out?<br>
  (1: I'm always at home, 5: I go out every night)</p>

<label for="one">1</label>
<input type="radio" name="selection" id="one" value="1"><br>
<label for="two">2</label>
<input type="radio" name="selection" id="two" value="2"><br>
<label for="three">3</label>
<input type="radio" name="selection" id="three" value="3"><br>
<label for="four">4</label>
<input type="radio" name="selection" id="four" value="4"><br>
<label for="five">5</label>
<input type="radio" name="selection" id="five" value="5"><br>

<p>Are you a light drinker or a heavy drinker?<br>
(1: I never or almost never drink, 2: I drink every night)</p>

<label for="one">1</label>
<input type="radio" name="selection" id="one" value="1"><br>
<label for="two">2</label>
<input type="radio" name="selection" id="two" value="2"><br>
<label for="three">3</label>
<input type="radio" name="selection" id="three" value="3"><br>
<label for="four">4</label>
<input type="radio" name="selection" id="four" value="4"><br>
<label for="five">5</label>
<input type="radio" name="selection" id="five" value="5"><br>


<p>Are you more likely to have friends over or keep the party outside of your home?<br>
  (1: I never bring the party home, 5: The after party is always at my place)</p>

<label for="one">1</label>
<input type="radio" name="selection" id="one" value="1"><br>
<label for="two">2</label>
<input type="radio" name="selection" id="two" value="2"><br>
<label for="three">3</label>
<input type="radio" name="selection" id="three" value="3"><br>
<label for="four">4</label>
<input type="radio" name="selection" id="four" value="4"><br>
<label for="five">5</label>
<input type="radio" name="selection" id="five" value="5"><br>


<p>Are you more of a morning lark or a night owl?</p>

<label for="lark">Morning lark</label>
<input type="radio" name="selection" id="lark" value="Morning lark"><br>
<label for="owl">Night owl</label>
<input type="radio" name="selection" id="owl" value="Night owl"><br>


<p>Do you have pets?</p>

<label for="Y">Yes</label>
<input type="radio" name="selection" id="Y" value="Yes"><br>
<label for="N">No</label>
<input type="radio" name="selection" id="N" value="No"><br>


<p>Do you smoke?</p>

<label for="y">Yes</label>
<input type="radio" name="selection" id="n" value="Yes"><br>
<label for="n">No</label>
<input type="radio" name="selection" id="n" value="No"><br>


<button type="submit" form="form1" value="Submit">Submit</button>

  </body>
</html>
